body{
    background-color: white;
    background-image: url();
    text-align: center;
}

.navbar-custom{
    background-color: black;
    font-weight: 500;
    font-size: large;
    color: white;
}
.p-2{
    text-decoration: none;
}
body > div.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center{
    text-align: center;
    margin-left: 200px;
}
.lead{
    width: 100%;
    text-align: center;
    align-items: center;
}


.pricing-header{
    text-align: center;
}